@model IEnumerable<Esibayeni.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryType)
        </td>
        <td>
            <a class="btn btn-warning" href="/Categories/Edit/@item.CategoryId">Edit<span class="glyphicon glyphicon-edit"></span></a>
            @*<a class="btn btn-info" href="/Categories/Details/@item.CategoryId">Details<span class="glyphicon glyphicon-exclamation-sign"></span></a>*@
            <a class="btn btn-danger" href="/Categories/Delete/@item.CategoryId">Delete<span class="glyphicon glyphicon-trash"></span></a>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId })*@
        </td>
    </tr>
}

</table>
